ion-header {
    --background: #0EA99B;
    color: #fff;
    ion-icon {
        font-size: 30px;
        position: relative;
        margin-right: 10px;
    }
    #filter-outline{
        position: absolute;
        top: 5px;
        right: 25px;
        color:#fff;
        z-index: 111;
    }
}

ion-title {
    font-size: 18px;
}

ion-chip {
    margin-left: 0;
}

ion-label{
    font-size: 14px;
}

ion-col{
    text-align: center;
    align-items: center;
}

button {
    background-color: #E3E1B8;
    padding: 2px 4px;
    font: 13px sans-serif;
    text-decoration: none;
    border: 1px solid #000;
    border-color: #aaa #444 #444 #aaa;
    color: #000
}

ion-content{
    font-family: 'Poppins', sans-serif;
    --background: #f0f0f2;
    .upperBox{
        margin-top: 10px;
        box-shadow: rgba(0,0,0,0.15) 1.95px 1.95px 2.6px ;
        height: auto;

        .top-title{
            display: grid;
            grid-template-columns: 30% 45% 25%;
            grid-template-rows: 1fr 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
            "image desc edit"
            "image desc edit";
            justify-items: center;
            align-items: center;
            .image{
                grid-area: image;
                img {
                    width: 70px;
                    height: 70px;
                }
            }
            .title{
                grid-area: desc;
                justify-self: start;
                h3{
                    color: #0EA99B;
                }
                p{
                    color: gray;
                    margin-top:-10px;
                }
            }
            .desc{
                border-radius: 4px;
                grid-area: edit;
                padding: 5px;
                ion-card-subtitle{
                    color: #353434;
                }
                ion-label{
                    color: #353434;
                }
                ion-button{
                    --border-radius:20px;
                }
            }
        }
    }


}