<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>Daftar Transaksi</ion-title>
    <!-- <ion-icon name="filter-outline" slot="end"></ion-icon> -->
  </ion-toolbar>

  <div class="topFilters">
    <ion-item lines="none">
      <ion-col>
        <div class="titleFilter">
          FILTER
        </div>
      </ion-col>
    </ion-item>

    <ion-row>
      <ion-col class="titleStatus" width-40>
        <ion-select interface="popover" placeholder="Status">
          <ion-select-option value="Proses">Proses</ion-select-option>
          <ion-select-option value="BelumBayar">Belum Bayar</ion-select-option>
          <ion-select-option value="Batal">Batal</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col class="titleProduct" width-40>
        <ion-select interface="popover" placeholder="Product">
          <ion-select-option value="Haji">Haji</ion-select-option>
          <ion-select-option value="Umrah">Umrah</ion-select-option>
          <ion-select-option value="Qurban">Qurban</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col class="titleDate" width-40>
        <ion-input  type="date" placeholder="Tanggal" name="tanggal" required="tanggal"></ion-input>
      </ion-col>
    </ion-row>
  </div>
</ion-header>

<ion-content>

  <div class="cardUmrah">
    <ion-card>
        <ion-row>
            <ion-col size="10">
                <ion-row>
                    <ion-col size="3">
                        <img class="image-umrah" src="../../assets/image-travel/altramatour.png">
                    </ion-col>
                    <ion-col size="9">
                        <ion-list>
                            <div class="title-umrah">
                                Altrama Tour
                            </div>
                            <div class="title-umrah2">
                                20 April 2020
                            </div>
                        </ion-list>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="2">
                <div class="menu">
                    <h3>
                        <ion-buttons slot="end">
                            <ion-button (click)="_openPopover($event)">
                                <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
                            </ion-button>
                        </ion-buttons>
                    </h3>
                </div>
            </ion-col>
        </ion-row>

        <ion-item lines="none">
            <ion-img src="../../assets/image-thumnails/image-info2.jpg"></ion-img>
        </ion-item>

        <ion-item lines="none">
            <div class="titleUmrah">
                <ion-text>PAKET UMRAH USTADZ MABRUR 9D/10D</ion-text>
            </div>
        </ion-item>

        <ion-item lines="none">
            <div class="descUmrah">
                <ion-text>Jl. Raya Kotabumi2 No.13 RT.08/4 Menteng Jaya Jakarta Pusat</ion-text>
            </div>
        </ion-item>

        <ion-item lines="none">
            <ion-icon name="cash-outline" slot="start"></ion-icon>
            <div class="priceUmrah">
                <ion-text>IDR 39.650.000</ion-text>
            </div>
        </ion-item>

        <ion-footer class="footUmrah">
            <div class="titlepayUmrah">
                Belum Bayar
            </div>
            <div class="descpayUmrah">
                2x Bayar
            </div>
        </ion-footer>
    </ion-card>
  </div>

  <div class="cardHaji">
    <ion-card>
      <ion-row>
        <ion-col size="10">
          <ion-row>
            <ion-col size="3">
              <img class="image-haji" src="../../assets/image-travel/nurhamdalah.png">
            </ion-col>
            <ion-col size="9">
              <ion-list>
                <div class="title-haji">
                  Nur Hamdalah
                </div>
                <div class="title-haji2">
                  20 Maret 2020
                </div>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="2">
          <div class="menu">
            <h3>
              <!-- <ion-buttons slot="end">
                <ion-button (click)="_openPopover($event)">
                  <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
                </ion-button>
              </ion-buttons> -->
            </h3>
          </div>
        </ion-col>
      </ion-row>

      <ion-item lines="none">
        <ion-img src="../../assets/image-thumnails/image-info5.jpg"></ion-img>
      </ion-item>

      <!-- <ion-item lines="none">
        <div class="titleHaji">
          <ion-text>PAKET UMRAH USTADZ MABRUR 9D/10D</ion-text>
        </div>
      </ion-item> -->

      <ion-item lines="none">
        <div class="descHaji">
          <ion-text>Jl. Raya Kotabumi2 No.13 RT.08/4 Menteng Jaya Jakarta Pusat</ion-text>
        </div>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="cash-outline" slot="start"></ion-icon>
        <div class="priceHaji">
          <ion-text>IDR 15.250.000</ion-text>
        </div>
      </ion-item>

      <ion-footer class="footHaji">
        <div class="titlepayHaji">
          Proses
        </div>
      </ion-footer>
    </ion-card>
  </div>

  <div class="cardQurban">
    <ion-card>
      <ion-row>
        <ion-col size="10">
          <ion-row>
            <ion-col size="3">
              <img class="image-qurban" src="../../assets/icon/account2.png">
            </ion-col>
            <ion-col size="9">
              <ion-list>
                <div class="title-qurban">
                  Qurban Farm
                </div>
                <div class="title-qurban2">
                  06 April 2022
                </div>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="2">
          <div class="menu">
            <h3>
              <!-- <ion-buttons slot="end">
                <ion-button (click)="_openPopover($event)">
                  <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
                </ion-button>
              </ion-buttons> -->
            </h3>
          </div>
        </ion-col>
      </ion-row>

      <ion-item lines="none">
        <ion-img src="../../assets/image-thumnails/image-info3.jpg"></ion-img>
      </ion-item>

      <ion-item lines="none">
        <div class="titleQurban">
          <ion-text>Domba Garut</ion-text>
        </div>
      </ion-item>

      <ion-item lines="none">
        <div class="descQurban">
          <ion-text>Ternak memiliki SKKH (Surat Keterangan Kesehatan Hewan) bebas PMK dari Dinas
            Peternakan Kabupaten Bogor yang diberikan saat serah terima hewan qurban</ion-text>
            <p>Gratis Ongkos Kirim Area Jabodetabek</p>
        </div>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="cash-outline" slot="start"></ion-icon>
        <div class="priceQurban">
          <ion-text>IDR 2.550.000</ion-text>
        </div>
      </ion-item>

      <ion-footer class="footQurban">
        <div class="titlepayQurban">
          Selesai
        </div>
      </ion-footer>
    </ion-card>
  </div>

</ion-content>