ion-header {
    --background: #0EA99B;
    color: #fff;
    ion-icon {
        font-size: 30px;
        position: relative;
        margin-right: 10px;
    }
    #filter-outline{
        position: absolute;
        top: 5px;
        right: 25px;
        color:#fff;
        z-index: 111;
    }
}

ion-title {
    font-size: 18px;
}

ion-chip {
    margin-left: 0;
}

ion-label{
    font-size: 14px;
}

ion-col{
    text-align: center;
    align-items: center;
}

button {
    background-color: #E3E1B8;
    padding: 2px 4px;
    font: 13px sans-serif;
    text-decoration: none;
    border: 1px solid #000;
    border-color: #aaa #444 #444 #aaa;
    color: #000
}

ion-content{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    //DI PERBAIKI KODINGAN DI SINI AGAR LEBIH RAPIH ALURNYA TERKAIT CARDVIEW
    .top-title{
        display: grid;
        grid-template-columns: 30% 45% 25%;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "image desc edit"
        "image desc edit";
        justify-items: center;
        align-items: center;
        .image{
            grid-area: image;
            img {
                width: 70px;
                height: 70px;
            }
        }
        .title{
            grid-area: desc;
            justify-self: start;
            h3{
                color: #363636;
            }
            p{
                color: #363636;
                margin-top:-10px;
            }
        }

        .desc{
            border-radius: 4px;
            grid-area: edit;
        }

        .menu {
            // grid-area: menu;
            margin-right: 2px;
            justify-self: right;
            align-items: center;
        }
    }
}

.container {
    padding: 6px 20px;
    color: #ffffff;
    ion-item {
        background: rgba(255,255,255,.1 );
    }
}

.footer{
    background-color: #F8AD3E;
    padding: 10px;
    height: auto;
    color: white;
    text-align: center;
  }