<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"
      defaultHref="search-chef"></ion-back-button>
    </ion-buttons>
    <ion-title>Daftar Transaksi</ion-title>
    <!-- <ion-icon name="filter-outline" slot="end"></ion-icon> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <div class="topFilters">

      <ion-item lines="none">
        <ion-col>
          <div class="titleFilter">
            FILTER
          </div>
        </ion-col>
      </ion-item>

      <ion-row>
        <ion-col width-40>
          <ion-select interface="popover" placeholder="Status">
            <ion-select-option value="Proses">Proses</ion-select-option>
            <ion-select-option value="BelumBayar">Belum Bayar</ion-select-option>
            <ion-select-option value="Batal">Batal</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col width-40>
          <ion-select interface="popover" placeholder="Product">
            <ion-select-option value="Haji">Haji</ion-select-option>
            <ion-select-option value="Umrah">Umrah</ion-select-option>
            <ion-select-option value="Qurban">Qurban</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col width-40>
          <ion-input  type="date" placeholder="Tanggal" name="tanggal" required="tanggal"></ion-input>
        </ion-col>
      </ion-row>
    </div>

  </ion-card>

  <ion-card>
    <ion-row>
      <ion-col size="3">
        <div class="image">
          <img src="../../assets/image-travel/Altrama-Tour.png">
        </div>
      </ion-col>
      <ion-col size="6">
        <ion-list>
          <ion-card-title>
            Altrama Tour
          </ion-card-title>
          <ion-card-subtitle>
            20 April 2020
          </ion-card-subtitle>
        </ion-list>
      </ion-col>
      <ion-col size="3">
        <div class="menu">
          <h3>
            <ion-buttons slot="end">
              <ion-button (click)="_openPopover($event)">
                <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </h3>
        </div>
      </ion-col>
    </ion-row>

    <ion-item lines="none">
      <ion-img src="../../assets/image-thumnails/Untitle_1.jpg"></ion-img>
    </ion-item>

    <ion-item lines="none">
      <ion-card-title>PAKET UMRAH USTADZ MABRUR 9D/10D</ion-card-title>
    </ion-item>

    <ion-item lines="none">
      <ion-card-subtitle>
        Jl. Raya Kotabumi2 No.13 RT.08/4 Menteng Jaya Jakarta Pusat
      </ion-card-subtitle>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="cash-outline" slot="start"></ion-icon>
      <ion-label>IDR 18.450.000</ion-label>
    </ion-item>

    <ion-footer class="footer">
      <div class="titlePayment">
        Belum Bayar
      </div>
      <div class="descPayment">
        2x Bayar
      </div>
    </ion-footer>
  </ion-card>

  <ion-card>
    <ion-row>
      <ion-col size="3">
        <div class="image">
          <img src="../../assets/image-travel/Nur-Hamdalah.png">
        </div>
      </ion-col>
      <ion-col size="6">
        <ion-list>
          <ion-card-title>
            Altrama Tour
          </ion-card-title>
          <ion-card-subtitle>
            20 April 2020
          </ion-card-subtitle>
        </ion-list>
      </ion-col>
      <ion-col size="3">

      </ion-col>
    </ion-row>

    <ion-item lines="none">
      <img src="../../assets/image-thumnails/Untitled_5.jpg">
    </ion-item>

    <ion-item lines="none">
      <ion-card-subtitle>
        Jl. Raya Kotabumi2 No.13 RT.08/4 Menteng Jaya Jakarta Pusat
      </ion-card-subtitle>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="cash-outline" slot="start"></ion-icon>
      <ion-label>IDR 18.450.000</ion-label>
    </ion-item>

    <ion-footer class="footer">
      <div class="titlePayment">
        Proses
      </div>
    </ion-footer>
  </ion-card>

  <ion-card>
    <ion-row>
      <ion-col size="3">
        <div class="image">
          <img src="../../assets/image-travel/Nur-Hamdalah.png">
        </div>
      </ion-col>
      <ion-col size="6">
        <ion-list>
          <ion-card-title>
            Altrama Tour
          </ion-card-title>
          <ion-card-subtitle>
            20 April 2020
          </ion-card-subtitle>
        </ion-list>
      </ion-col>
      <ion-col size="3">

      </ion-col>
    </ion-row>

    <ion-item lines="none">
      <img src="../../assets/image-thumnails/Untitled_5.jpg">
    </ion-item>

    <ion-item lines="none">
      <ion-card-subtitle>
        Jl. Raya Kotabumi2 No.13 RT.08/4 Menteng Jaya Jakarta Pusat
      </ion-card-subtitle>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="cash-outline" slot="start"></ion-icon>
      <ion-label>IDR 18.450.000</ion-label>
    </ion-item>

    <ion-footer class="footer">
      <div class="titlePayment">
        Proses
      </div>
    </ion-footer>
  </ion-card>

</ion-content>