ion-header {
    --background: var(--ion-color-primary);
    ion-icon {
        font-size: 30px;
        position: relative;
        margin-right: 10px;
    }
    #filter-outline{
        position: absolute;
        top: 5px;
        right: 25px;
        color:#fff;
        z-index: 111;
    }

    ion-toolbar {
        width: 100%;
        --background: var(--ion-color-primary);
        color: #fff;
        font-size: 20px;
    }

    .topFilters{
        background-color: #fff;
        padding: 4px 5px;

        .titleFilter {
            color: black;
            font-size: 20px;
            text-align: center;
            font-weight: bold;
        }

        .titleStatus{
            font-size: 13px;
            text-align: center;
        }

        .titleProduct{
            font-size: 13px;
            text-align: center;
        }
        .titleDate{
            font-size: 13px;
            text-align: center;
        }
    }
}

ion-title {
    font-size: 18px;
    justify-content: center;
    display: flex;
}

ion-card-title{
    font-weight: bold;
    justify-content: left;
    display: flex;
    margin: 10px;
}

ion-card-subtitle{
    justify-content: left;
    display: flex;
    margin: 10px;
}

ion-col{
    justify-content: center;
    display: flex;
    margin: 0px 0px;
}

ion-content{
    font-family: 'Poppins', sans-serif;
    --background: #f0f0f2;

    .cardUmrah {
        padding: 0px 0px;
        text-align: left;

        .image-umrah {
            width: 100%;
            margin: 10px;
            justify-content: left;
            display: flex;
        }

        .title-umrah {
            width: 170px;
            font-size: 17px;
            text-align: left;
            font-weight: bold;
            justify-content: left;
            display: flex;
            color: var(--ion-color-primary);
        }

        .title-umrah2 {
            width: 170px;
            font-size: 12px;
            text-align: left;
        }

        .titleUmrah {
            font-size: 16px;
            text-align: left;
            font-weight: bold;
            justify-content: left;
        }

        .descUmrah {
            font-size: 12px;
            text-align: left;
            justify-content: left;
        }

        .priceUmrah {
            font-size: 18px;
            font-weight: bold;
            color: var(--ion-color-primary);
        }

        .footUmrah {
            text-align: center;
            background-color: var(--ion-color-primary);
            padding: 10px;

            .titlepayUmrah {
                font-size: 16px;
                font-weight: bold;
                align-items: center;
                justify-content: center;
                display: flex;
                color: white;
            }

            .descpayUmrah {
                font-size: 12px;
                align-items: center;
                justify-content: center;
                display: flex;
                color: white;
            }
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: var(--ion-color-primary);
            font-weight: bold;
        }


    }

    .cardHaji {
        text-align: left;
        padding: 0px 0px;

        .image-haji{
            width: 100%;
            margin: 10px;
            justify-content: left;
            display: flex;
        }

        .title-haji {
            width: 170px;
            font-size: 17px;
            text-align: left;
            font-weight: bold;
            justify-content: left;
            display: flex;
            color:var(--ion-color-primary);
        }

        .title-haji2{
            width: 170px;
            font-size: 12px;
            text-align: left;
        }

        .titleHaji {
            font-size: 16px;
            text-align: left;
            font-weight: bold;
            justify-content: left;
        }

        .descHaji {
            font-size: 12px;
            text-align: left;
            justify-content: left;
        }

        .priceHaji{
            font-size: 18px;
            font-weight: bold;
            color:var(--ion-color-primary);
        }

        .footHaji{
            text-align: center;
            background-color: var(--ion-color-secondary);
            padding: 10px;

            .titlepayHaji{
                font-size: 16px;
                font-weight: bold;
                align-items: center;
                justify-content: center;
                display: flex;
                color: white;
            }

            .descpayHaji{
                font-size: 12px;
                align-items: center;
                justify-content: center;
                display: flex;
                color: white;
            }
        }

        h1, h2, h3, h4, h5, h6 {
            color: var(--ion-color-primary);
            font-weight: bold;
        }


    }

    .cardQurban {
        text-align: left;
        padding: 0px 0px;

        .image-qurban{
            width: 100%;
            margin: 10px;
            justify-content: left;
            display: flex;
        }

        .title-qurban {
            width: 170px;
            font-size: 17px;
            text-align: left;
            font-weight: bold;
            justify-content: left;
            display: flex;
            color:var(--ion-color-primary);
        }

        .title-qurban2{
            width: 170px;
            font-size: 12px;
            text-align: left;
        }

        .titleQurban {
            font-size: 16px;
            text-align: left;
            font-weight: bold;
            justify-content: left;
        }

        .descQurban {
            font-size: 12px;
            text-align: left;
            justify-content: left;
        }

        .priceQurban{
            font-size: 18px;
            font-weight: bold;
            color:var(--ion-color-primary);
        }

        .footQurban{
            text-align: center;
            background-color: var(--ion-color-secondary);
            padding: 10px;

            .titlepayQurban{
                font-size: 16px;
                font-weight: bold;
                align-items: center;
                justify-content: center;
                display: flex;
                color: white;
            }
        }

        h1, h2, h3, h4, h5, h6 {
            color: var(--ion-color-primary);
            font-weight: bold;
        }


    }

    .container {
        padding: 6px 20px;
        color: #ffffff;
    }
}