<ion-header>
  <ion-toolbar>
    <ion-title>Akun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="upperBox">
    <ion-item>
      <ion-avatar slot="start">
        <img class="account-image" src="../../assets/account.png" alt="Raka Ardiansyah">
      </ion-avatar>
      <ion-label>
        <h2>Raka Ardiansyah</h2>
        <p>raka.ardiansyah23@gmail.com</p>
        <p>083813187473</p>
      </ion-label>
    </ion-item>
  </div>
  <div class="upperBox">
    <h3>Profile Saya</h3>
    <h3>Daftar Transaksi</h3>
    <h3>Referral Fee</h3>
    <h3>Fasilitas Membership</h3>
    <h3>Daftar Alamat</h3>
    <h3>Syarat & Ketentuan</h3>
    <h3>FAQ</h3>
  </div>
</ion-content>

