<ion-header>
  <ion-toolbar>
    <ion-title>Akun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top">
    <div class="image">
      <img src="../../assets/account.png">
    </div>
    <div class="desc">
      <h3>Raka Ardiansyah</h3>
      <p>rakaardiansyah@gmail.com</p>
      <p>083813187473</p>
    </div>
    <div class="edit">
      <ion-button color="primary">Edit</ion-button>
    </div>
  </div>
  <div class="upperBox">
    <ion-list>
      <ion-item>
        <img src="../../assets/icon/account/profile2.png">
        <label (click)="profilesaya()" color="secondary">Profile Saya</label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="../../assets/icon/account/daftartransaksi2.png">
        <label (click)="daftartransaksi()" color="secondary">Daftar Transaksi</label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="../../assets/icon/account/referralfee2.png">
        <label (click)="referralfee()" color="secondary">Referral Fee</label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="../../assets/icon/account/fasilitasmember2.png">
        <label (click)="fasilitasmembership()" color="secondary">Fasilitas Membership</label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="../../assets/icon/account/alamat2.png">
        <label>Daftar Alamat</label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="../../assets/icon/account/syaratketentuan2.png">
        <label>Syarat & Ketentuan</label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="../../assets/icon/account/faq2.png">
        <label>FAQ</label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="../../assets/icon/account/versiapps2.png">
        <label>Versi Aplikasi</label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

    </ion-list>
  </div>
</ion-content>

