<ion-header>
  <ion-toolbar>
    <ion-title>Akun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="profileHeader">
    <ion-row>
      <div class="image">
        <img src="../../assets/icon/account.png">
      </div>
      <ion-list>
        <div class="titleName">
          Raka Ardiansyah
        </div>
        <div class="titleEmail">
          rakaardiansyah@gmail.com
        </div>
        <div class="titleTelp">
          083813187473
        </div>
        <ion-button color="primary">Edit</ion-button>
      </ion-list>
    </ion-row>
  </div>

  <div class="upperBox">
    <ion-list>
      <ion-item>
        <img src="../../assets/1icon-account/profile2.png">
        <label (click)="profilesaya()" color="secondary">Profile Saya</label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="../../assets/1icon-account/daftartransaksi2.png">
        <label (click)="daftartransaksi()" color="secondary">Daftar Transaksi</label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="../../assets/1icon-account/referralfee2.png">
        <label (click)="referralfee()" color="secondary">Referral Fee</label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="../../assets/1icon-account/fasilitasmember2.png">
        <label (click)="fasilitasmembership()" color="secondary">Fasilitas Membership</label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="../../assets/1icon-account/alamat2.png">
        <label>Daftar Alamat</label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="../../assets/1icon-account/syaratketentuan2.png">
        <label>Syarat & Ketentuan</label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="../../assets/1icon-account/faq2.png">
        <label>FAQ</label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <img src="../../assets/1icon-account/versiapps2.png">
        <label>Versi Aplikasi</label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>

    </ion-list>
  </div>
</ion-content>

