ion-toolbar {
    width: 100%;
    --background: var(--ion-color-primary);
    color: #fff;
    font-size: 20px;
    text-align: center;
}

ion-title {
    font-size: 18px;
}

ion-chip {
    margin-left: 0;
}

ion-label{
    font-size: 14px;
}

ion-col{
    text-align: center;
    align-items: center;
}

ion-button {
    // margin: 10px 10px;
    background: #fff ;
    width: 125px;
    --border-radius: 20px;
}

ion-content{
    font-family: 'Poppins', sans-serif;
    --background: #f0f0f2;
    .profileHeader{
        background-color: #fff ;
        justify-content: center;
        display: flex;
        padding: 15px 8px;
        img{
            width: 110px;
            height: 110px;
            margin-right: 10px;
            color:var(--ion-color-primary);
        }
        .titleName{
            font-weight: bold;
            font-size: 18px;
            margin: 2px;
        }
        .titleEmail{
            font-size: 15px;
            margin: 2px;
        }
        .titleTelp{
            font-size: 15px;
            margin: 2px;
        }

        h1, h2, h3, h4, h5, h6 {
            color: var(--ion-color-primary);
            font-weight: bold;
        }
    }

    .upperBox{
        background-color: #fff ;
        margin-top: 10px;
        box-shadow: rgba(0,0,0,0.15) 1.95px 1.95px 2.6px ;
        height: auto;
        ion-icon{
            font-size: 24px;
            color: var(--ion-color-primary);
        }
        img{
            width: 40px;
            height: 40px;
            margin-right: 10px;
            color:var(--ion-color-primary);
        }
    }
}