ion-toolbar {
    width: 100%;
    --background: #0EA99B;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

ion-title {
    font-size: 18px;
}

ion-chip {
    margin-left: 0;
}

ion-label{
    font-size: 14px;
}

ion-col{
    text-align: center;
    align-items: center;
}

button {
    background: #fff ;
    height: 30px;
}

ion-content{
    font-family: 'Poppins', sans-serif;
    --background: #f0f0f2;
    .top{
        background-color: white;
        box-shadow: rgba(0,0,0,0.15) 1.95px 1.95px 2.6px;
        height: 150px;
        left: 10px;
        right: 10px;
        display: grid;
        grid-template-columns: 25% 50% 27%;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "image desc edit"
        "image desc edit";
        justify-items: center;
        align-items: center;
        .image{
            grid-area: image;
            img {
                width: 72px;
                height: 72px;
                border-radius: 50%;
            }
        }
        .desc{
            grid-area: desc;
            justify-self: start;
            h3{
                color: #0EA99B;
            }
            p{
                color: gray;
                margin-top:-10px;
            }
        }
        .edit{
            grid-area:edit;
            margin-right:5px;
            ion-button{
                --border-radius:20px;
            }
        }
    }

    .upperBox{
        background-color: #fff ;
        margin-top: 10px;
        box-shadow: rgba(0,0,0,0.15) 1.95px 1.95px 2.6px ;
        height: auto;
        ion-icon{
            font-size: 24px;
            color: #0EA99B;
        }
        img{
            width: 35px;
            height: 35px;
            margin-right: 10px;
            color:#0EA99B;
        }
    }
}