ion-toolbar {
    width: 100%;
    --background: var(--ion-color-primary);
    color: #fff;
    font-size: 20px;
    text-align: center;
}

ion-title {
    font-size: 18px;
}

ion-chip {
    margin-left: 0;
}

ion-label{
    font-size: 14px;
}

ion-col{
    text-align: center;
    align-items: center;
}

button {
    background: #fff ;
    height: 30px;
}