<script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- HEADER -->
  <div class="header">
    <ion-col size="2">
      <div class="avatar">
        <ion-img src="../../assets/icon/account.png"></ion-img>
      </div>
    </ion-col>
    <ion-col size="8">
      <ion-list>
        <h6>Assalamualaikum,</h6>
        <h3>Raka Ardiansyah</h3>
      </ion-list>
    </ion-col>
    <ion-col size="3">
      <div class="notification">
        <ion-icon name="notifications"></ion-icon>
      </div>
    </ion-col>


  </div>

  <!-- CATEGORIES -->
  <div class="categories">
    <app-category-item *ngFor="let item of categories" [item]="item"></app-category-item>
  </div>

  <!-- PROMO -->

  <!-- PAKET TERBARU -->

  <!-- PAKET TERLARIS -->

</ion-content>
