<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- CATEGORIES -->
  <!-- <div class="categories">
    <app-category-item></app-category-item>
  </div> -->

  <div class="menuCategori">
    <ion-item lines="none">
      <ion-title>Kategori</ion-title>
    </ion-item>

    <div class="categori">
      <ion-card id="cardCategori">
        <div class="item">
          <img id="img" src="../../assets/icon-kategori/icon-haji.png"/>
          <p>Haji</p>
        </div>
      </ion-card>

      <ion-card id="cardCategori">
        <div class="item">
          <img id="img" src="../../assets/icon-kategori/icon-umrah.png"/>
          <p>Umrah</p>
        </div>
      </ion-card>

      <ion-card id="cardCategori">
        <div class="item">
          <img id="img" src="../../assets/icon-kategori/icon-qurban2.png"/>
          <p>Qurban</p>
        </div>
      </ion-card>

      <ion-card id="cardCategori">
        <div class="item">
          <img id="img" src="../../assets/icon-kategori/cicil-emas.png"/>
          <p>Cicil Emas</p>
        </div>
      </ion-card>

      <ion-card id="cardCategori">
        <div class="item">
          <img id="img" src="../../assets/icon-kategori/gadai-emas8.png"/>
          <p>Gadai Emas</p>
        </div>
      </ion-card>

    </div>

  </div>

</ion-content>
