<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"
      defaultHref="search-chef"></ion-back-button>
    </ion-buttons>
    <ion-title>Daftar Membership</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="layoutBg">
    <ion-item lines="none">
      <h3>Syarat & Ketentuan sebagai Mitra Referral</h3>
    </ion-item>
    <ion-item lines="none">
      <p>- Kami tidak memungut imbalan dan pembayaran dalam proses
        pendaftaran ini</p>
    </ion-item>
    <ion-item lines="none">
      <p>- Akun Mitra Referral anda akan aktif, setelah kami melakukan
        verifikasi data terlebih dahulu</p>
    </ion-item>
    <ion-item lines="none">
      <p>Luangkan waktu anda untuk membaca terlebih dahulu perjanjian dan
        ketentuan yang tertuang pada lampiran berikut :</p>
    </ion-item>
    <ion-card>
      <ion-item>
        <!-- TODO: BUAT TANDA TANGAN -->
      </ion-item>
    </ion-card>
    <ion-item lines="none">
      <p>Foto selfie dengan memegang KTP</p>
    </ion-item>
    <ion-item lines="none">
      <ion-button (click)="captureImage()">
        Upload Foto
     </ion-button>
     <img [src]="clickedImage" />
    </ion-item>
    <ion-item lines="none">
      <!-- TODO: belum di test fungsinya-->
      <ion-button expand="full">
        <ion-icon lazy="true" slot="start" name="image"></ion-icon>
        <ion-label slot="end">Upload</ion-label>
        <input type="file" (change)="loadImageFromDevice($event)" id="file-input"
          accept="image/png, image/jpeg">
      </ion-button>
    </ion-item>

    <ion-item lines="none">
      <ion-checkbox slot="start" [indeterminate]="true"></ion-checkbox>
      <p>Dengan ini saya sudah membaca, memahami dan setuju dengan ketentuan terkait
        Mitra Referral di atas</p>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button class="button" expand="block">Daftar</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="button" (click)="getBack()" expand="block">Batal</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
