ion-toolbar {
    width: 100%;
    --background: var(--ion-color-primary);
    color: #fff;
    font-size: 20px
}

ion-title {
    font-size: 18px;
}

ion-chip {
    margin-left: 0;
}

ion-label {
    font-size: 12px;
}

ion-col {
    text-align: center;
    align-items: center;
}

ion-content {
    --background: #f0f0f2;

    .layoutBg {
        background-color: #fff;
        height: auto;
        padding: 12px 10px;

        ion-label {
            font-size: medium;
        }

        .descBg {
            background-color: #fff;
            height: auto;
            padding: 12px 10px;

            ion-label {
                font-size: medium;
            }
        }
    }
}