<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"
      defaultHref="search-chef"></ion-back-button>
    </ion-buttons>
    <ion-title>Daftar Membership</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="layoutBg">
    <ion-row>
      <ion-item lines="none">
        <h3>Syarat & Ketentuan sebagai Mitra Referral</h3>
      </ion-item>
    </ion-row>
    <div class="descBg">
      <ion-label>- Kami tidak memungut imbalan dan pembayaran dalam proses
        pendaftaran ini</ion-label>
    </div>
    <div class="descBg">
      <ion-label>- Akun Mitra Referral anda akan aktif, setelah kami melakukan
        verifikasi data terlebih dahulu</ion-label>
    </div>
    <div class="descBg">
      <ion-label>Luangkan waktu anda untuk membaca terlebih dahulu perjanjian dan
        ketentuan yang tertuang pada lampiran berikut :</ion-label>
    </div>

    <ion-card>
      <ion-item>
        <!-- TODO: BUAT TANDA TANGAN -->
      </ion-item>
    </ion-card>

    <div class="descBg">
      <ion-label>Foto selfie dengan memegang KTP</ion-label>
    </div>
    <div class="descBg">
      <!-- TODO: button ambil foto -->
      <ion-label>Ambil Foto</ion-label>
    </div>
    <div class="descBg">
      <!-- TODO: tambah checkbox -->
      <ion-label>Dengan ini saya sudah membaca, memahami dan setuju dengan ketentuan terkait
        Mitra Referral di atas</ion-label>
    </div>

    <div class="descBg">
      <ion-row>
        <ion-col>
          <ion-button class="button" expand="block">Daftar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="button" expand="block">Batal</ion-button>
        </ion-col>
      </ion-row>
    </div>

  </div>
</ion-content>
