<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"
      defaultHref="search-chef"></ion-back-button>
    </ion-buttons>
    <ion-title>Gadai Emas</ion-title>
    <ion-title slot="end" (click)="reset()">Reset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="upperBox">
    <ion-item>
      <ion-label position="floating">Nama Nasabah</ion-label>
      <ion-input type="text"
                placeholder="Nama Lengkap"
                name="namalengkap"
                required="namalengkap"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nomer HP / Whatsapp</ion-label>
      <ion-input  type="number"
                  placeholder="Number Phone"
                  name="numberphone"
                  required="numberphone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Jenis Kelamin</ion-label>
      <ion-select  interface="popover" placeholder="-- Pilih --">
        <ion-select-option value="jenkel1">Laki-Laki</ion-select-option>
        <ion-select-option value="jenkel2">Perempuan</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="upperBox">
    <ion-row>
      <ion-item lines="none">
        <h3>Alamat Domisili Nasabah</h3>
      </ion-item>
    </ion-row>

    <ion-item>
      <ion-label position="floating">Alamat Lengkap</ion-label>
      <ion-input  type="text"
                  placeholder="alamat"
                  name="alamat"
                  required="alamat"></ion-input>
      <!-- <ion-note slot="error">Invalid text</ion-note> -->
    </ion-item>

    <ion-item>
      <ion-label position="floating">Provinsi</ion-label>
      <ion-select  interface="popover" placeholder="-- Pilih --">
        <ion-select-option value="provinsi1">DKI Jakarta</ion-select-option>
        <ion-select-option value="provinsi2">Jawa Barat</ion-select-option>
        <ion-select-option value="provinsi3">Banten</ion-select-option>
        <ion-select-option value="provinsi4">Jawa Tengah</ion-select-option>
        <ion-select-option value="provinsi5">D.I Yogyakarta</ion-select-option>
        <ion-select-option value="provinsi6">Jawa Timur</ion-select-option>
        <ion-select-option value="provinsi7">Bali</ion-select-option>
        <ion-select-option value="provinsi8">Banten</ion-select-option>
        <ion-select-option value="provinsi9">NTB</ion-select-option>
        <ion-select-option value="provinsi10">NTT</ion-select-option>
        <ion-select-option value="provinsi11">Sulawesi Utara</ion-select-option>
        <ion-select-option value="provinsi12">Sulawesi Barat</ion-select-option>
        <ion-select-option value="provinsi13">Sulawesi Tengah</ion-select-option>
        <ion-select-option value="provinsi14">Sulawesi Tenggara</ion-select-option>
        <ion-select-option value="provinsi15">Sulawesi Selatan</ion-select-option>
        <ion-select-option value="provinsi16">Gorontalo</ion-select-option>
        <ion-select-option value="provinsi17">Naggroe Aceh Darussalam</ion-select-option>
        <ion-select-option value="provinsi18">Sumatra Utara</ion-select-option>
        <ion-select-option value="provinsi19">Sumatera Barat</ion-select-option>
        <ion-select-option value="provinsi20">Riau</ion-select-option>
        <ion-select-option value="provinsi21">Kep Riau,</ion-select-option>
        <ion-select-option value="provinsi22">Jambi</ion-select-option>
        <ion-select-option value="provinsi23">Sumatra Selatan</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Kabupaten / Kota</ion-label>
      <ion-select  interface="popover" placeholder="-- Pilih --">
        <ion-select-option value="kotkab1">Kota Jakarta</ion-select-option>
        <ion-select-option value="kotkab2">Kota Bandung</ion-select-option>
        <ion-select-option value="kotkab3">kota Serang</ion-select-option>
        <ion-select-option value="kotkab4">kota Semarang</ion-select-option>
        <ion-select-option value="kotkab5">kota Yogyakarta</ion-select-option>
        <ion-select-option value="kotkab6">kota Surabaya</ion-select-option>
        <ion-select-option value="kotkab7">kota Denpasar</ion-select-option>
        <ion-select-option value="kotkab8">kota Mataram</ion-select-option>
        <ion-select-option value="kotkab9">kota Kupang</ion-select-option>
        <ion-select-option value="kotkab10">kota Manado</ion-select-option>
        <ion-select-option value="kotkab11">Kota Mamuju</ion-select-option>
        <ion-select-option value="kotkab12">kota Palu</ion-select-option>
        <ion-select-option value="kotkab13">kota Kendari</ion-select-option>
        <ion-select-option value="kotkab14">kota Makassar</ion-select-option>
        <ion-select-option value="kotkab15">kota Gorontalo</ion-select-option>
        <ion-select-option value="kotkab16">kota Banda Aceh</ion-select-option>
        <ion-select-option value="kotkab17">kota Medan</ion-select-option>
        <ion-select-option value="kotkab18">kota Padang</ion-select-option>
        <ion-select-option value="kotkab19">kota kota Pekan Baru</ion-select-option>
        <ion-select-option value="kotkab20">kota kota Tanjung Pinang</ion-select-option>
        <ion-select-option value="kotkab21">kota Jambi</ion-select-option>
        <ion-select-option value="kotkab22">kota Palembang</ion-select-option>
        <ion-select-option value="kotkab23">kota Pangkal Pinang</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Kantor Cabang</ion-label>
      <ion-select  interface="popover" placeholder="-- Pilih --">
        <ion-select-option value="kancab1">Kantor Cabang 1</ion-select-option>
        <ion-select-option value="kancab2">Kantor Cabang 2</ion-select-option>
        <ion-select-option value="kancab3">Kantor Cabang 3</ion-select-option>
        <ion-select-option value="kancab4">Kantor Cabang 4</ion-select-option>
        <ion-select-option value="kancab5">Kantor Cabang 5</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="upperBox">
    <ion-row>
      <ion-col>
        <ion-button class="button" expand="block">
          <ion-icon name="checkmark-outline"></ion-icon>
          Simpan</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="button" expand="block">
          <ion-icon name="close-outline"></ion-icon>
          Batal</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
