ion-toolbar {
    width: 100%;
    --background: var(--ion-color-primary);
    color: #fff;
    font-size: 20px
}

ion-title {
    font-size: 18px;
}

ion-chip {
    margin-left: 0;
}

ion-label{
    font-size: 16px;
    margin-bottom: 15px;
}

ion-col{
    text-align: center;
    align-items: center;
}

p {
    font-size: 16px;
    color: #262626;
    font-weight: 100px;
    margin-top: 25px;
    margin-bottom: 5px;
}

ion-col{
    text-align: center;
    align-items: center;
}

button {
    background-color: #E3E1B8;
    padding: 2px 4px;
    font: 13px sans-serif;
    text-decoration: none;
    border: 1px solid #000;
    border-color: #aaa #444 #444 #aaa;
    color: #000
}

ion-content{
    --background: #f0f0f2;
    .upperBox{
        background-color: #fff ;
        height: auto;
        padding: 17px 20px;
    }
}