<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"
      defaultHref="search-chef"></ion-back-button>
    </ion-buttons>
    <ion-title>Fasilitas Membership</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="upperBox">
    <ion-row>
      <ion-item lines="none">
        <h3>Fasilitas Membership</h3>
      </ion-item>
    </ion-row>
    <ion-item lines="none">
      <ion-label>Mendapatkan Income Referral</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Jasa produk yang berkualitas</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Pemesanan Mudah</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Travel & Distributor Besar dan Terpercaya</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Pencairan Fee secara Otomatis</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Tool Marketing yang diberikan secara exlusive</ion-label>
    </ion-item>
    <div class="descBg">
      <ion-row>
        <ion-col text-center>
          <ion-button class="button" expand="block">Daftar Sebagai Pereferral</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>

</ion-content>
