<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"
      defaultHref="search-chef"></ion-back-button>
    </ion-buttons>
    <ion-title>Fasilitas Membership</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="upperBox">
    <ion-row>
      <ion-item lines="none">
        <h3>Fasilitas Membership</h3>
      </ion-item>
    </ion-row>
    <ion-item lines="none">
      <p>Mendapatkan Income Referral</p>
    </ion-item>
    <ion-item lines="none">
      <p>Jasa produk yang berkualitas</p>
    </ion-item>
    <ion-item lines="none">
      <p>Pemesanan Mudah</p>
    </ion-item>
    <ion-item lines="none">
      <p>Travel & Distributor Besar dan Terpercaya</p>
    </ion-item>
    <ion-item lines="none">
      <p>Pencairan Fee secara Otomatis</p>
    </ion-item>
    <ion-item lines="none">
      <p>Tool Marketing yang diberikan secara exlusive</p>
    </ion-item>

    <div class="descBg">
      <div id="container" class="ion-padding">
        <ion-button (click)="getfasMembership()" expand="block">Daftar Pereferral</ion-button>
      </div>
    </div>

  </div>

</ion-content>
