ion-toolbar {
    width: 100%;
    --background: var(--ion-color-primary);
    color: #fff;
    font-size: 20px
}

ion-content{
    --background: #f0f0f2;

    .upperBox{
        background-color: #fff ;
        padding: 12px 10px;

        .titleFasilitas{
            font-size: 16px;
            margin: 10px 0px;
            font-weight: bold;
            justify-content: left;
            display: flex;
        }

        .bgOptions{
            margin-top: 15px;
            margin-bottom: 25px;
        }

        .btnRegist{
            margin: 10px;
            font-weight: bold;
            text-decoration: none;
            justify-content: center;
            display: flex;

            ion-button {
                width: 250px;
                border-radius: 20px;
                font-size: 14px;
                // --border-radius: 15px;
            }
        }

        h1, h2, h3, h4, h5, h6 {
            color: var(--ion-color-primary);
            font-weight: bold;
        }
    }
}