<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>Fee Referral</ion-title>
    <!-- <ion-icon name="filter-outline" slot="end"></ion-icon> -->
  </ion-toolbar>

  <div class="topFilters">
    <ion-row>
      <ion-col class="titleStatus" width-40>
        <ion-select interface="popover" placeholder="Status">
          <ion-select-option value="Proses">Proses</ion-select-option>
          <ion-select-option value="BelumBayar">Belum Bayar</ion-select-option>
          <ion-select-option value="Batal">Batal</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col class="titleProduct" width-40>
        <ion-select interface="popover" placeholder="Product">
          <ion-select-option value="Haji">Haji</ion-select-option>
          <ion-select-option value="Umrah">Umrah</ion-select-option>
          <ion-select-option value="Qurban">Qurban</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col class="titleDate" width-40>
        <ion-input  type="date" placeholder="Tanggal" name="tanggal" required="tanggal"></ion-input>
      </ion-col>
    </ion-row>
  </div>

  <div class="outStanding">

    <ion-row>
      <ion-col>
        <div class="titleOutstanding">Out Standing Fee</div>
        <div class="descOut">Rp 0</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-60>
        <div class="titleName">Out Standing Fee</div>
        <div class="descOut">Rp 0</div>
      </ion-col>
      <ion-col width-60>
        <div class="titleName">Debet</div>
        <div class="descOut">Rp 0</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-60>
        <div class="titleName">Avaible Debet</div>
        <div class="descOut">Rp 0</div>
      </ion-col>
      <ion-col width-60>
        <div class="titleName">Hold</div>
        <div class="descOut">Rp 0</div>
      </ion-col>
    </ion-row>
  </div>

</ion-header>


<ion-content>

  <ion-card>

    <div class="headerTgl">
      <ion-text>Rabu, 24 Nov 2022</ion-text>
    </div>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <div class="titleReferral">Umrah Bersama Ustadz Maman Suherman</div>
        </ion-col>
        <ion-col>
          <div class="descReferral">+ Rp650.000</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <div class="titleReferral">Pencairan Fee Referral</div>
        </ion-col>
        <ion-col>
          <div class="descReferral">+ Rp400.000</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <div class="titleReferral">Pembatalan Umrah Umrah plus Dubai 11D Chef Muna Sukarna</div>
        </ion-col>
        <ion-col>
          <div class="descReferral">+ Rp620.000</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <div class="headerTgl">
      <ion-text>Rabu, 24 Nov 2022</ion-text>
    </div>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <div class="titleReferral">Umrah Bersama Ustadz Kondang 9D Maman Suherman</div>
        </ion-col>
        <ion-col>
          <div class="descReferral">+ Rp800.000</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <div class="titleReferral">Pencairan Fee Referral</div>
        </ion-col>
        <ion-col>
          <div class="descReferral">+ Rp500.000</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <div class="titleReferral">Pembatalan Umrah Umrah plus Dubai 11D Chef Muna Sukarna</div>
        </ion-col>
        <ion-col>
          <div class="descReferral">+ Rp700.000</div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

  <ion-card>
    <div class="headerTgl">
      <ion-text>Rabu, 24 Nov 2022</ion-text>
    </div>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <div class="titleReferral">Umrah Bersama Ustadz Suherman</div>
        </ion-col>
        <ion-col>
          <div class="descReferral">+ Rp620.000</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <div class="titleReferral">Pencairan Fee Referral Ustadz Suherman</div>
        </ion-col>
        <ion-col>
          <div class="descReferral">+ Rp620.000</div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <div class="titleReferral">Pembatalan Umrah Umrah plus Dubai 11D Chef Muna Sukarna</div>
        </ion-col>
        <ion-col>
          <div class="descReferral">+ Rp640.000</div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

</ion-content>