ion-toolbar {
    width: 100%;
    --background: var(--ion-color-primary);
    color: #fff;
    font-size: 20px
}

ion-title {
    font-size: 18px;
    justify-content: center;
    display: flex;
}

ion-card-title{
    font-weight: bold;
    justify-content: left;
    display: flex;
    margin: 10px;
}

ion-card-subtitle{
    justify-content: left;
    display: flex;
    margin: 10px;
}

ion-label{
    margin-left: 0;
}

ion-chip {
    margin-left: 0;
}

ion-col{
    justify-content: center;
    display: flex;
    .titleFilter{
        --background: var(--ion-color-primary);
        font-size: 20px;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}

ion-header {
    --background: var(--ion-color-primary);
    color: #fff;
    ion-icon {
        font-size: 30px;
        position: relative;
        margin-right: 10px;
    }
    #filter-outline{
        position: absolute;
        top: 5px;
        right: 25px;
        color:#fff;
        z-index: 111;
    }
}

ion-content{
    font-family: 'Poppins', sans-serif;
    --background: #f0f0f2;

    ion-card{
        margin: 10px;

        .topFilters{
            background-color: #fff ;
            padding: 15px 8px;

            .image{
                width: 110px;
                height: 110px;
                margin-right: 10px;
                color:var(--ion-color-primary);
            }
            .titleName{
                font-weight: bold;
                font-size: 18px;
                margin: 2px;
            }
            .titleEmail{
                font-size: 18px;
                margin: 2px;
            }
            .titleTelp{
                font-size: 18px;
                margin: 2px;
            }

            h1, h2, h3, h4, h5, h6 {
                color: var(--ion-color-primary);
                font-weight: bold;
            }
        }
    }
}

.container {
    padding: 6px 20px;
    color: #ffffff;
}

.headerTgl{
    text-align: center;
    background-color: var(--ion-color-secondary);
    padding: 10px;

    .titlePayment{
        font-size: 20px;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .descPayment{
        font-size: 15px;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}