<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tab4"></ion-back-button>
    </ion-buttons>
    <ion-title>Fee Referral</ion-title>
    <!-- <ion-icon name="filter-outline" slot="end"></ion-icon> -->
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>
    <ion-item lines="none">
      <ion-col size="13">
        <h4>Out Standing Fee</h4>
        <p>Rp 0</p>
      </ion-col>
    </ion-item>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <h4>Earning Fee</h4>
          <p>Rp 0</p>
        </ion-col>
        <ion-col>
          <h4>Debet</h4>
          <p>Rp 0</p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <h4>Avaible Debet</h4>
          <p>Rp 0</p>
        </ion-col>
        <ion-col>
          <h4>Hold</h4>
          <p>Rp 0</p>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

  <ion-card>
    <div class="topFilters">
      <ion-item lines="none">
        <ion-col>
          <div class="titleFilter">
            Riwayat Transaksi
          </div>
        </ion-col>
      </ion-item>

      <ion-row>
        <ion-col width-40>
          <ion-select interface="popover" placeholder="Status">
            <ion-select-option value="Proses">Proses</ion-select-option>
            <ion-select-option value="BelumBayar">Belum Bayar</ion-select-option>
            <ion-select-option value="Batal">Batal</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col width-40>
          <ion-select interface="popover" placeholder="Product">
            <ion-select-option value="Haji">Haji</ion-select-option>
            <ion-select-option value="Umrah">Umrah</ion-select-option>
            <ion-select-option value="Qurban">Qurban</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col width-40>
          <ion-input  type="date" placeholder="Tanggal" name="tanggal" required="tanggal"></ion-input>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>

  <ion-card>
    <div class="headerTgl">
      <ion-card-title>Rabu, 24 Nov 2022</ion-card-title>
    </div>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <ion-card-subtitle>Umrah Bersama Ustadz Maman Suherman</ion-card-subtitle>
        </ion-col>
        <ion-col>
          <ion-card-title>+ Rp650.000</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <ion-card-subtitle>Pencairan Fee Referral</ion-card-subtitle>
        </ion-col>
        <ion-col>
          <ion-card-title>+ Rp400.000</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <ion-card-subtitle>Pembatalan Umrah Umrah plus Dubai 11D Chef Muna Sukarna</ion-card-subtitle>
        </ion-col>
        <ion-col>
          <ion-card-title>+ Rp620.000</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card>
    <div class="headerTgl">
      <ion-card-title>Rabu, 23 Nov 2022</ion-card-title>
    </div>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <ion-card-subtitle>Umrah Bersama Ustadz Kondang 9D Maman Suherman</ion-card-subtitle>
        </ion-col>
        <ion-col>
          <ion-card-title>+ Rp800.000</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <ion-card-subtitle>Pencairan Fee Referral</ion-card-subtitle>
        </ion-col>
        <ion-col>
          <ion-card-title>+ Rp500.000</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <ion-card-subtitle>Pembatalan Umrah Umrah plus Dubai 11D Chef Muna Sukarna</ion-card-subtitle>
        </ion-col>
        <ion-col>
          <ion-card-title>+ Rp700.000</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

  <ion-card>
    <div class="headerTgl">
      <ion-card-title>Selasa, 22 Nov 2022</ion-card-title>
    </div>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <ion-card-subtitle>Umrah Bersama Ustadz Suherman</ion-card-subtitle>
        </ion-col>
        <ion-col>
          <ion-card-title>+ Rp620.000</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <ion-card-subtitle>Pencairan Fee Referral Ustadz Suherman</ion-card-subtitle>
        </ion-col>
        <ion-col>
          <ion-card-title>+ Rp620.000</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col>
          <ion-card-subtitle>Pembatalan Umrah Umrah plus Dubai 11D Chef Muna Sukarna</ion-card-subtitle>
        </ion-col>
        <ion-col>
          <ion-card-title>+ Rp640.000</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

</ion-content>